.sidebar{
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: white;
    width: 80px;
    top: 55px;
    z-index: 200;
    padding-top: 5px;
}
.sidebar-link{
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(234, 234, 234);
}
.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}
.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
}